{% load static %} 
<!DOCTYPE html>
<html>
        
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'history/css/century17.css' %}">
</head>
<body>
    <h1>１７世紀、18世紀：フランスバレエ</h1>
    <p>17世紀において、ルイ１４世がダンス好きだったことからバレエはフランスにおいてパフ
        ォーマンスが重視されるようになった。
        </p>
        <p>また、この時期にバレエのルールやプロトコルが確立され「バレエ」という言葉が正式に使われるようになった。
        </p>
    <p>１８世紀に、演劇的な筋立てで構成されるアクションバレエ(ballet d'action)が登場した。</p>
        <p><img src="{% static 'history/images/Jason_et_Medee.jpg' %}" ></p>
        <figcaption>アクションバレエである「ジェイソンとメデ・ド・ノヴェール」。
            <div class="container">
    
    <p><a href="https://fr.wikipedia.org/wiki/Ballet_d%27action#:~:text=Le%20ballet%20d%27action%20ou%20ballet-pantomime%201%2C%202%20est,l%27aide%20de%20la%20danse%20et%20de%20la%20pantomime" target="_blank">文章・写真　出典ページ:</a></p>
    </div>
    <div class="class1"><p><a href="{% url 'historyindex' %}"class="fixed">バレエの歴史に戻る</a></p>
</body>