{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'history/css/modern.css' %}">
   
</head>
<body>

    </div>
    <h1>20世紀：ネオクラシカルバレエ</h1>
    <div class="size">
        <p>ネオクラシカルバレエとは２０世紀のバレ
        エスタイルである。ジョージ・バランシン
        の作品であるApollo（１９２８）が初のネ
        オクラシカルバレエであるといわれている。
        その翌年には「放蕩息子」が生み出された。
        これらの作品は彼が設立基盤を作ったニュー
        ヨークシティーバレエ団によって主に上演さ
        れている。フレデリック・アシュトン（Fred
        erick Ashton）も突出したネオクラシカルバ
        レエの振付家の一人である。シルビア、ロミオと
        ジュリエット、オルディンヌは現在においても国
         際的に広く上演されるレパートリーとなっている。</p>
</div>


        <img src="{% static 'history/images/Apollo.jpg' %}">
        <figcaption>アポロ（１９２８）, バレエ・リュスによる公演。</figcaption>



<div class="text">
    <p>「放蕩息子」は１９２９年にロシアバレエ団により初演された、聖書
    を題材とした舞台である。音楽は２０世紀の大作曲家の一人と称され
    るセルゲイ・プロコフィエフによる。ある日父親と喧嘩をした放蕩息
    子が家を飛び出し、自墜落な生活を送り美女に誘惑され金品を盗まれて
    身を持ち崩し、 疲れ切って家に帰った息子を父親が迎え入れるという話
    である。この話がバレエの舞台となったのは、誰もが理解できる簡単なストーリ
    ーを求められた作家がこの寓話を提案したことから生まれた。</p>

        <img src="{% static 'history/images/prodigalson.jpg' %}" >
        <figcaption>アントン・ドリンによる放蕩息子。バレエ・リュス、オーストラリアツアー、1939年</figcaption>
 
    <a href="{% url 'historyindex' %}" class="fixed">バレエの歴史に戻る</a>
<div class="container">
    <a href="https://en.wikipedia.org/wiki/History_of_ballet#20th_century_and_modernism">参考文献</a>
    <a href="https://en.wikipedia.org/wiki/Prodigal_Son_(ballet)">参考文献２</a>
</div>
</div>
</div>
    


</body>

</html>