{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'history/css/century19.css' %}">
   
    <style>
        .img{
          text-align: right;
        }
    </style>
    </head>
    
<body>
   
    <h1>19世紀：ロマンバレエ</h1>
    <p>「バレリーナ」が最も有名な出演者になったのは19世紀前半のことであり、それまでは男性役を女性が務めることが多かった。例：Principal Boy in pantomime.
    </p>
    <p>この時期は社会変化があり、バレエにもその影響が反映された。また、トゥシューズが使われだしたのはこの時期である。
    </p>
    <p>ロマンティックムーブメントは、アート、文学、劇場において工業化と形式的制約への反抗であった。時代精神が、振付家に軽く、空気のようで自由な振り付けをつけさせ、それが科学技術の様々な生活への浸透とのコントラストとして働くこととなった。
    </p>
    <p>これらの‘リアルでない‘バレエは、不可解で民間伝承的な話とともに、パステルカラーの流れるような衣装で女性をもろく現実離れした存在、天空の努力なしに空中に浮かぶことができる生物として描いた。
    </p>
    <p>”ラ・シルフィード”は現在でも踊られる最も古いロマンティックバレエの一つである。
    </p>
    <a href="{% url 'historyindex' %}"class="fixed">バレエの歴史に戻る</a>
    
      <p> <img src="{% static 'history/images/romanticballet.jpg' %}" class="image"></p>

     

      <figcaption class="image">
        ポワントワークの先駆者であるMarie Taglioni。
                <a href="https://en.wikipedia.org/wiki/History_of_ballet" target="_blank">出典ページ</a>
    
                </figcaption>

    
    
    
    
    
    </body>