{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The second page</title>
    <link rel="stylesheet" href="{% static 'history/css/style2.css' %}">
</head>
<body>
    <h1>バレエの歴史</h1>
   
    <img src="{% static 'history/images/AnnaPavlova1.jpg' %}" >
    

    
    <div class="text">
    <a href="{% url 'c14' %}"class="normal-link">１４C：バレエの原型</a>

    <a href="{% url 'c16' %}"class="normal-link">/16C：ルネッサンスダンス、法廷ダンス</a>

     <a href="{% url 'c17' %}"class="normal-link">/17,18C:フランスバレエ</a>
        
    <a href="{% url 'c19' %}"class="normal-link">/19C:ロマンバレエ</a>
        
    <a href="{% url 'cmodern' %}"class="normal-link">/20C:ネオクラシカルバレエ</a>

    <div class="down">
    
    <a href="{% url 'technique:indexmove' %}" class="special-link">前のページ</a>
    <a href="{% url 'variation' %}" class="special-link">バリエーション紹介</a>

   
    </div></div></div>

</body>
</html>





