{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'history/css/century16.css' %}">
    
</head>
<body>
    <h1>16世紀：法廷ダンス</h1>
    <p>16世紀はイタリアにおいて法廷の華やかさ（court pageantry）が重視され、法廷でダンスが踊られた（儀式が重視された法廷をルネッサンス法廷という）。バレエパフォーマンスというよりはパレードのようなものであった。これまでのバレエと異なるのは、宗教的でないということである。同時期にはイタリアでオペラが生まれている。フランスにおいてバレエという言葉が使われるようになった。</p>
    <p><img src="{% static 'history/images/Ballet_1582.png' %}" ></p>

    <figcaption>１５８１年にパリでフランス法廷で公演されたBallet Comique de la Peineの２幕の彫刻。
        <div class="container">
            
                <p><a href="https://en.wikipedia.org/wiki/History_of_ballet#Renaissance_%E2%80%93_Italy_and_France" target="_blank">参考ページ</a></p>
            </div>
        </figcaption>
</figure>
<a href="{% url 'historyindex' %}"class="fixed">バレエの歴史に戻る</a>
</body>