<style>
    
    body {
        font-family: Arial, sans-serif;
        font-size: 50px;
        line-height: 1.6;
        background-color: #6d6f6f;
        color: #333;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .container{
        position: absolute; /* または relative */
        bottom: 0;
        left: 0;
        text-align: left;

    }
    a{
        color: black;
    }

    
.fixed{
position: relative; top: 30px; left: 0px;
display: inline-block;
padding: 10px 20px;
font-size: 24px;
color: rgb(249, 246, 246);
background-color: #404045; /* ボタンの背景色 */
border: none;
border-radius: 5px; /* 角を丸くする */
text-align: right;
text-decoration: none; /* 下線を消す */
transition: background-color 0.3s, box-shadow 0.3s;
font-family: cursive;
}

.fixed:hover {
background-color: #0c0c0c; /* ホバー時の背景色 */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
}


    
    

</style>

<form method="POST">
    {% csrf_token %}
      <p>タイトル：<input type="text" name="title"style="width: 300px; height: 40px; font-size: 18px;"></p>
      <p>コメント：<input type="text" name="memo"style="width: 300px; height: 40px; font-size: 18px;"></p>
      <input type="submit" value="投稿する"class="fixed">
    </form>
    <p><a href="{% url 'variation' %}"class="fixed">戻る</a></p>
    