@charset "utf-8";
body {

  background-color:rgb(163, 159, 159);
  overflow: hidden; /* スクロールを無効にする */
}
.down{
position: absolute; /* 絶対位置に設定 */
bottom: -265px; /* ページの下端からの距離 */
right: 10px;}

.text {
 
  text-align: right; /* テキストを右揃え */
}


.image {
  width: 750px; /* 写真の幅を200pxに設定 */
  height: auto; /* 縦横比を保つための自動調整 */
  margin-left: 20px; /* 写真とテキストの間にスペース */
  left: 10px;
}


.normal-link {
  position: relative; /* 相対位置に設定 */
  top: -300px; /* 元の位置から20px下に移動 */
  left: -100px; /* 元の位置から30px右に移動 */
  margin-right: 10px; /* 適宜スペースを調整 */
  font-size: 24px;
  color: rgb(19, 19, 19);
  border: none;
  text-align: right; 
  text-decoration: underline; 
  transition: background-color 0.3, box-shadow 0.3s;
  font-family: serif;
}

.normal-link:hover {
  background-color: #c6ceca; /* ホバー時の背景色 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
}

.special-link {
  position: relative; /* 相対位置に設定 */
  top: -300px; /* 元の位置から20px下に移動 */
  left: -100px; /* 元の位置から30px右に移動 */
  padding: 10px 10px;
  font-size: 24px;
  color: white;
  background-color: #2d2d2e; /* ボタンの背景色 */
  border: none;
  border-radius: 20px; /* 角を丸くする */
  text-decoration: none; /* 下線を消す */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: serif;
}

.special-link:hover {
  background-color: #2e2d31; /* ホバー時の背景色 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
}
.modoru-link {
  display: inline;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-color: #0c0c0f; /* ボタンの背景色 */
  border: none;
  border-radius: 5px; /* 角を丸くする */
  text-align: right;
  text-decoration: none; /* 下線を消す */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: serif;
}

.modoru-link:hover {
  background-color: #7f7c88; /* ホバー時の背景色 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
}

.theflowerpicture {
  width: 5cm; /* 幅を5cmに設定 */
  height: auto; /* 高さを自動調整 */
  position: absolute; /* 絶対位置指定を有効にする */
  top: 0; /* 上から0の位置に配置 */
  right: 0; /* 右から0の位置に配置 */
}

.footer-menu {
  position: fixed; /* フッターメニューを画面の下部に固定 */
  bottom: 0; /* 画面の一番下に配置 */
  width: 100%; /* 横幅を全体に広げる */
  background-color: #f8f9fa; /* 背景色 */
  text-align: center; /* テキストを中央に配置 */
  padding: 10px 0; /* 上下に余白を追加 */
  border-top: 1px solid #ccc; /* 上部に境界線を追加 */
}

.footer-menu a {
  margin: 0 15px; /* リンクの間にスペースを追加 */
  color: #007bff; /* リンクの色を青に設定 */
  text-decoration: none; /* 下線を無効化 */
  font-size: 16px; /* フォントサイズを調整 */
}

.footer-menu a:hover {
  text-decoration: underline; /* ホバー時に下線を表示 */
}