@charset "utf-8";
h1{
    color:black;
    font-size: larger;
    text-align: center;
}
body{
    background-color: rgb(120, 116, 116);
    text-align: center;
    font-size: 30px;
}

a{
    color: black;
}

.fixed{
    position: relative; top: 30px; left: 0px;
    display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  color: rgb(249, 246, 246);
  background-color: #404045; /* ボタンの背景色 */
  border: none;
  border-radius: 5px; /* 角を丸くする */
  text-align: right;
  text-decoration: none; /* 下線を消す */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: cursive;
}

.fixed:hover {
    background-color: #0c0c0c; /* ホバー時の背景色 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
  }