<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'bar/css/bar.css' %}">
  <title>バーの用語</title>
</head>
<body>
  <a href="{% url 'center:welcome' %}" >←</a>
 <p><a href="{% url 'center:plie' %}" class="fixed">プリエ</a></p>
  <p><a href="{% url 'center:tendu' %}" class="fixed">タンデュ</a></p>
 <p><a href="{% url 'center:jete' %}" class="fixed">ジュテ</a></p>
  <p><a href="{% url 'center:rondt' %}" class="fixed">ロンデジャンブ・アテール</a></p>
  <p><a href="{% url 'center:rondjete' %}" class="fixed">ロンデジャンブ・ジュテ</a></p>
  <p><a href="{% url 'center:fondu' %}" class="fixed">フォンデュ</a></p>
  <p><a href="{% url 'center:frappe' %}" class="fixed">フラッペ</a></p>
  <p><a href="{% url 'center:rondenl' %}" class="fixed">ロン・ド・ジャンブ・アン・レール</a></p>
  <p><a href="{% url 'center:petitbatt' %}" class="fixed">プティ・バットマン</a></p>
  <p><a href="{% url 'center:fricflac' %}" class="fixed">フリック・フラック</a></p>
  <p><a href="{% url 'center:developpe' %}" class="fixed">デヴェロッぺ</a></p>
  <p><a href="{% url 'center:panche' %}" class="fixed">パンシェ</a></p>
  <p><a href="{% url 'center:grandbatman' %}" class="fixed">グランバットマン</a></p>
  <p><a href="{% url 'center:balancoire' %}" class="fixed">バランソワール</a></p>
 
</body>

  