{% load static %}
<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'bar/css/every.css' %}">
  <title>Button & Three.js Animation</title>

<script type="importmap">
{
  "imports": {
    "three": "https://cdn.jsdelivr.net/npm/three@0.180.0/build/three.module.js",
    "three/examples/jsm/loaders/GLTFLoader": "https://cdn.jsdelivr.net/npm/three@0.180.0/examples/jsm/loaders/GLTFLoader.js",
    "three/examples/jsm/controls/OrbitControls": "https://cdn.jsdelivr.net/npm/three@0.180.0/examples/jsm/controls/OrbitControls.js",
    "lil-gui": "https://cdn.jsdelivr.net/npm/lil-gui@0.18/+esm"
  }
}
</script>

<script type="module" src="{% static 'bar/main.js' %}"></script>

</head>
<body>
<a href="{% url 'center:center' %}"class="fixed">←</a>

<p>プティバットマン</p>

<div class="btn-container">
  <div class="btn" id="toggle-btn">▶</div>
  <div class="btn" id ="reverse-btn">←</div>
  <div class="btn" id ="slow-btn">×0.5</div>
</duv>
  <canvas id="canvas"></canvas>

  <script>
    window.modelPath = "{% static 'bar/models/petitbatt.glb' %}";
  </script>

<script type="module">

import { loadModel, startAnimation, stopAnimation , reverseanimation, slowdown} from "{% static 'bar/main.js' %}";

let started = false; // 状態を管理するためのフラグ
let slowing= false, reversing=false;
const button = document.getElementById('toggle-btn');

document.addEventListener('DOMContentLoaded', () => {

  loadModel();
})

document.getElementById('toggle-btn').addEventListener('click', async () => {


  if (!started) {
    // 開始処理
    if (typeof startAnimation === 'function') {
      startAnimation();

    if(slowing==true){
      slowdown();
    }
    if(reversing==true){
      reverseanimation();
    }
      
    }


    started = true;
    button.textContent = '⏸'; // ボタンのラベルを「停止」に変更
    
  } else {
    // 停止処理
    if (typeof stopAnimation === 'function') {
      stopAnimation();
    }
    started = false;
    button.textContent = '▶'; // ボタンのラベルを「開始」に変更
    
  }
});
document.getElementById('reverse-btn').addEventListener('click', async () => {
  reverseanimation()
  button.textContent = '⏸';
  started = true;
  reversing = true;
})

document.getElementById('slow-btn').addEventListener('click', async() =>{
  slowdown()
  button.textContent = '⏸';
  started = true;
  slowing = true;
})

  </script>

</body>
</html>