@charset "utf-8";

h1{
    color:black;
    text-align: center;
    font-family:fantasy;}
   
.fixed{
  position: fixed;

}

a{
  position: relative; top: 0px; left: 180px;
    display: inline-block;
  padding: 10px 20px;
  font-size: 25spx;
  color: rgb(247, 241, 241);
  background-color: #534ee0; /* ボタンの背景色 */
  border: none;
  border-radius: 5px; /* 角を丸くする */
  text-align: right;
  text-decoration: none; /* 下線を消す */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: serif; 
}


body {
   text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image:url("marble.jpg");
    font-size: larger;
    color: bisque;
  }


  .class1 {
    text-align:center
  }
  ul {
    list-style: none;
    
}

 