<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variation.css') }}">
    <title>バレエの演技集</title>
</head>
<body>
    <h1>コッペリア・第２幕</h1>

    </form><p>スワニルダがコッペリアの真似をするシーン</p>
        <main>
            <section>
                <p>-画像をクリックするとYoutubeに飛びます-</p>
                <a href="https://www.youtube.com/watch?v=LDYKDfM5A5s" target="_blank">
                    <img class="thumbnail" src="https://img.youtube.com/vi/LDYKDfM5A5s/hqdefault.jpg" alt="Video Thumbnail">
                </a>
            </section>
        </main>
    <a href="{{ url_for('index') }}">最初のページ</a></p>
</body>
    