{% load static %} 
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'history/css/medievaldance.css' %}">
    <style>
        .img{
          text-align: center;
        }
    </style>
</head>
<body>

    <div class="class1">
    <h1>１４世紀：中世の踊り</h1>
    <p>「デカメロン」や「アーサー王物語」においてキャロルへの言及があるなど、この時代に「キャロル」と呼ばれる輪になって踊るダンスが踊られていたことが分かっているが、歌詞や音楽の情報はない。</p>
    <p><div class="img">
        <img src="{% static 'history/images/Lorenzetti_Good_Govt_Detail.jpg' %}" ></p>
   
        <div>
            <div class="figcaption">
            <figcaption>Ambrogio Lorenzettiによるフレスコ画。女性の集団がタンバリンを叩いている女性に同伴されて手を繋いでいる。
            
    </div>
    <div class="shuttenn">
        <p><a href="https://en.wikipedia.org/wiki/Medieval_dance" target="_blank">参考ページ</a></p>

    </div>
    <div class="class2">
        <a href="{% url 'historyindex' %}"class="fixed">バレエの歴史に戻る</a>
</div>
    </body>