{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'variation/css/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
</head>
<body>
    <h1>バレエの歴史</h1>
    <div class="container">
    <img src="{% static 'history/images/AnnaPavlova1.jpg' %}" class="image">


    
    <div class="text">
    <a href="{% url 'index3' %}"class="normal-link">１４C：バレエの原型</a>

    <a href="{% url 'c16' %}"class="normal-link">/16C：ルネッサンス/法廷ダンス</a>

     <a href="{% url 'c17' %}"class="normal-link">/17,18C:フランスバレエ</a>
        
    <a href="{% url 'c19' %}"class="normal-link">/19C:ロマンバレエ</a>
        
    <p><a href="{% url 'cmodern' %}"class="normal-link">/20C:ネオクラシカルバレエ</a></p>
    <div class="down">

    <p><a href="{% url 'technique:indexmove' %}" class="special-link">前のページ</a></p>
 
    <a href="{% url 'variation' %}" class="special-link">バレエのバリエーション</a>
 
   
    </div></div></div>

</body>
</html>





