<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <!DOCTYPE html>
</head>
      <link rel="stylesheet" href="{% static 'variation/css/result.css' %}">
<body>
    <h1>では他のを紹介しましょう。以下の中から興味のありそうなものを選択してください</h1>
    <p><a href="{% url 'gayane' %}"class="normal-link">ガイーヌのバリエーション</a></p>
    <p><a href="{% url 'blackswan' %}"class="normal-link">オディールのバリエーション</a></p>
    <p><a href="{% url 'aurora' %}"class="normal-link">オーロラのバリエーション（第一幕）</a></p>
    <p><a href="{% url 'romeo' %}"class="normal-link">ジュリエットのバリエーション</a></p>
    <p><a href="{% url 'pasdedeux' %}"class="normal-link">チャイコフスキー・パ・ド・ドゥ</a></p>
    <p><a href="{% url 'form' %}"class="normal-link2">コメント投稿</a></p>
    <p><a href="{% url 'variation' %}"class="normal-link2">フォームに戻る</a></p>


</body>
</html>