<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'variation/css/variation.css' %}">
    <title>バリエーション紹介</title>
</head>
<body>
    <h1>フロリナ王女（青い鳥、ブルーバード）</h1>
    <p>このバリエーションは、「妖精物語」という物語集の一話である「青い鳥」と呼ばれる話がもとになっている。青い鳥は、シャルルペローの眠れる森の美女の結婚式の場面で登場する。この場面では、様々なおとぎ話のキャラクターが結婚式を祝う為に集まる。眠れる森の美女のバレエ作品はピョートル・チャイコフスキーが作曲したバレエ音楽を用いた作品で、１８９０年、サンクトペテルブルクのマリインスキー劇場で初演された。</p>
    <main>
        <section>
            <a href="https://www.youtube.com/watch?v=wj_4DcvIdkM" target="_blank" class="link2">
                <img class="thumbnail" src="https://img.youtube.com/vi/wj_4DcvIdkM/hqdefault.jpg" alt="Video Thumbnail">
            </a>
        </section>
    </main>
    <form method="post" action="/">
        {% csrf_token %}
        <input type="radio" id="option1" name="option" value="👍">
        <label for="option1">👍</label><br>
        <input type="radio" id="option2" name="option" value="👎">
        <label for="option2">👎</label><br> 
        <input type="radio" id="option3" name="option" value="🤷">
        <label for="option3">🤷</label><br>
        <input type="submit" value="送信"class="soushin">
    </form>
    <a href="{% url 'indexa' %}" class="link1">最初のページ</a>
    <a href="{% url 'index2' %}" class="link1">ひとつ前のページ</a>
    <a href="https://ja.wikipedia.org/wiki/眠れる森の美女_(チャイコフスキー)" target="_blank" class="link1">参考文献</a>  
   
    <script>
        document.querySelector("form").addEventListener("submit", function(event) {
            event.preventDefault();
            const option = document.querySelector('input[name="option"]:checked').value;
            if (option === '👍') {
                window.location.href = "{% url 'result' %}";
            } else if (option === '👎') {
                window.location.href = "{% url 'result2' %}";
            } else {
                window.location.href = "{% url 'featuring' %}";
            }
        });
    </script>
</body>
</html>

    