{% load static %} 
<!DOCTYPE html>
<html lang="en">
      
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'technique/css/indexmove.css' %}">

</head>
<body>


    <h1>6ファイイアッサンブレ</h1>
        <p><img src="{% static 'technique/images/vprWhBtb298.jpg' %}" ></p> 
    
    <p>両足または片足で踏み切ってとび、空中で体の方向を変えて、片足で着地する動き。
    

        <h1>7フェッテアントゥールナン</h1>
    <p><img src="{% static 'technique/images/NOHArqrTk40.jpg' %}" ></p>
    
    <p>片足でドゥミ・プリエからポアントまたはドゥミ・
        ポアントに立ちながら、もう片方の足を前から横へ
        ロン・ド・ジャンプしてからパッセにして回転する
        動き。
    </p>

        <h1>8回転するバランセ</h1>
        <p><img src="{% static 'technique/images/gqAcBxaowEw.jpg' %}" ></p>
        
        <p>左右の脚で交互にドゥミ・プリエからポアント/
            ドゥミ・ポアント、ドゥミ・プリエと繰り返し
            ながら、体を前後や左右に揺らすようにして行う
            ３拍子のパ。
        </p>
 
 
    <h1>9パドブレ</h1>  
    <p><img src="{% static 'technique/images/pasdesbourres.jpg' %}"class="img2" ></p>
    
    <p>ポワントまたはドゥミポワントで足踏みをする動き</p>



        <a href="{% url 'technique:indexb'%}"class="fixed">前のページ</a>
        <a href="{% url 'index2' %}"class="fixed">バレエの歴史を知る？</a>
