{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'technique/css/indexmove.css' %}">

</head>
<body>
    <div class="container">
    <p><img src= "{% static 'technique/images/HlGFzHE3W50.jpg' %}" ></p>
    <h1>1ピルエット</h1>
    <p>両足で踏み切り、片足のポワント
        またはドゥミ・ポワントに立って
        回転する動き。
        
        単に“ピルエット”　と呼ぶときは
        動脚をパッセにして外回りの
        “ピルエット・アン・ドゥオール”を指すことが多い。　

    </div>
    <div class="container">
        <p><img src=  "{% static 'technique/images/lhvGiY0Qjt8.jpg' %}"  ></p>
      
    <h1>2イタリアンフェッテ</h1>
    <p>動脚を振り子のように使いながら、
        エカルテドゥヴァンとアティチュード
        クロワゼ・デリエールを交互に行う。
    </p>
</div>
<div class="container">
    <p><img src="{% static 'technique/images/YB0rrc5B2LM.jpg' %}" ></p>
   
    <h1>3グランジュテ</h1>
    <p> 片足をまっすぐに伸ばして高く振り上げ
        ながら、もう一方の足で踏み切ってとび、
        空中で大きく足を開くパ。
        
        グリッサードやシャッセで助走をつける
        ことが多い。　　　　　　　　　　　　　　　　
        </p>
    </div>
    <div class="container">
        <p><img src="{% static 'technique/images/WjbJReewZC4.jpg' %}" ></p>
        
    <h1> 4ソ・ド・バスク</h1>
    <p>空中で回りながら飛ぶジュテの一種。　</p>
</div>





    

    <a href="{% url 'technique:indexa'%}" class="fixed">前のページ</a>
    <a href="{% url 'technique:indexmove'%}" class="fixed">次のページ</a>
 
   
