@charset "utf-8";

body {
    color: aliceblue;
    font-size: 50px;
    background-color: black;
    text-align: center;
    margin-top: 5cm;
  }

  .btn-primary{
    display: inline-block;
    padding: 20px 30px;
    font-size: 24px;
    color: rgb(14, 13, 13);
    background-color: #e5e5ed; /* ボタンの背景色 */
    border: none;
    border-radius: 5px; /* 角を丸くする */
    text-align: right;
    text-decoration: none; /* 下線を消す */
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: cursive;
  }

  .btn-primary:hover {
    background-color: #becbf1; /* ホバー時の背景色 */
    box-shadow: 0px 4px 8px rgba(135, 133, 133, 0.2); /* ホバー時のシャドウ */
  }

.btn-secondary{
  display: inline-block;
    padding: 20px 30px;
    font-size: 24px;
    color: rgb(14, 13, 13);
    background-color: #e5e5ed; /* ボタンの背景色 */
    border: none;
    border-radius: 5px; /* 角を丸くする */
    text-align: right;
    text-decoration: none; /* 下線を消す */
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: cursive;
}

.btn-secondary:hover {
  background-color: #becbf1; /* ホバー時の背景色 */
  box-shadow: 0px 4px 8px rgba(135, 133, 133, 0.2); /* ホバー時のシャドウ */
}

.btn-primary3{
  display: inline-block;
  padding: 20px 30px;
  font-size: 24px;
  color: rgb(14, 13, 13);
  background-color: #e5e5ed; /* ボタンの背景色 */
  border: none;
  border-radius: 5px; /* 角を丸くする */
  text-align: right;
  text-decoration: none; /* 下線を消す */
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: cursive;
}

.btn-primary3:hover {
  background-color: #becbf1; /* ホバー時の背景色 */
  box-shadow: 0px 4px 8px rgba(135, 133, 133, 0.2); /* ホバー時のシャドウ */
}

.form-control{
  width: 20%;
  padding: 10px;
  margin: 12px 0;
  border: 5px solid #ccc;
  border-radius: 5px;
}
input {
  font-size: 36px; /* フォントサイズを大きくする */
  padding: 10px;   /* 入力部分のパディングを調整 */
  height: 30px;    /* 高さを指定 */
  width: 20%;     /* 幅を広げる */
  border: 5px solid #ccc;
  border-radius: 5px;
}