{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/index.css' %}">
{% block title %}
{% if user.is_authenticated %}
<div class="h1">マイページ</div>
{% else %}
<div class="h1">メイン</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="h2">ようこそ{{ user.first_name }} {{ user.last_name }}さん</div>
<form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary3">ログアウト</button>
  <a href="{% url 'technique:indexa' %}" class="btn btn-secondary">バレエについて学ぶ</a>
  <a href="{% url 'primary:first' %}" class="btn btn-secondary">基本技能の理解</a>
</form>

{% else %}
<a href="{% url 'accounts:signup' %}" class="btn btn-primary">サインアップ</a>
<a href="{% url 'accounts:login' %}" class="btn btn-primary">ログイン</a>
{% endif %}
{% endblock %} 