<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'bar/css/center.css' %}">
  <title>センターの用語</title>
</head>
<body>
<div class="return">
  <a href="{% url 'center:welcome' %}">←</a>
</div>
<div class="whole">
<div class="container">
      <p><a href="{% url 'bar:quatre' %}" class="fixed">アントルシャ・カトル</a></p>
      <p><a href="{% url 'bar:assem' %}" class="fixed">アッサンブレ</a></p>
      <p><a href="{% url 'bar:emboite' %}" class="fixed">アンボワテ</a></p>
      <p><a href="{% url 'bar:entrechat' %}" class="fixed">アントルシャ・ロワイヤル</a></p>
      <p><a href="{% url 'bar:italianfete' %}" class="fixed">イタリアンフェッテ</a></p>
      <p><a href="{% url 'bar:echappe' %}" class="fixed">エシャペ</a></p>
      <p><a href="{% url 'bar:garg' %}" class="fixed">ガルグイヤード</a></p>
      <p><a href="{% url 'bar:cabriole' %}" class="fixed">カブリオール</a></p>
      <p><a href="{% url 'bar:realgrandjete' %}" class="fixed">グラン・ジュッテ</a></p>
      <p><a href="{% url 'bar:coujetour' %}" class="fixed">クぺ・ジュテ・アン・トゥールナン</a></p>
      <p><a href="{% url 'bar:bar' %}" class="fixed">グランパドシャ</a></p>
      <p><a href="{% url 'bar:contretemps' %}" class="fixed">コントルターン</a></p>
      <p><a href="{% url 'bar:chasse' %}" class="fixed">シャッセ</a></p>
      <p><a href="{% url 'bar:chaines' %}" class="fixed">シェネ</a></p>
      <p><a href="{% url 'bar:change' %}" class="fixed">シャンジュマン</a></p>
      
</div>
<div class="container2">
      <p><a href="{% url 'bar:fermee' %}" class="fixed">シソンヌ・フェルメ</a></p>
      <p><a href="{% url 'bar:sussous' %}" class="fixed">シュ・スー</a></p>
      <p><a href="{% url 'bar:entrelace' %}" class="fixed">ジュテ・アントルラセ</a></p>
      <p><a href="{% url 'bar:jetepasse' %}" class="fixed">ジュテ・パッセ</a></p>
      <p><a href="{% url 'bar:soutenu' %}" class="fixed">ストゥニュ</a></p>
      <p><a href="{% url 'bar:soub' %}" class="fixed">スーブルソー</a></p>
      <p><a href="{% url 'bar:saute' %}" class="fixed">ソテ</a></p>
      <p><a href="{% url 'bar:saubasq' %}" class="fixed">ソドバスク</a></p>
      <p><a href="{% url 'bar:tempslie' %}" class="fixed">タン・リエ</a></p>
      <p><a href="{% url 'bar:templ' %}" class="fixed">タン・ルヴェ</a></p>
      <p><a href="{% url 'bar:tempcu' %}" class="fixed">タン・ド・キュイス</a></p>
      <p><a href="{% url 'bar:detourne' %}" class="fixed">デトゥルネ</a></p>
      <p><a href="{% url 'bar:tombe' %}" class="fixed">トンベ</a></p>
      <p><a href="{% url 'bar:pasdebourree' %}" class="fixed">パドブレ</a></p>
      <p><a href="{% url 'bar:balance' %}" class="fixed">バランセ</a></p>

</div> 
<div class="container3">
      <p><a href="{% url 'bar:pascouru' %}" class="fixed">パクーリュ</a></p>
      <p><a href="{% url 'bar:pasdebasque' %}" class="fixed">パドバスク</a></p>
      <p><a href="{% url 'bar:ball' %}" class="fixed">バロネ</a></p>
      <p><a href="{% url 'bar:ballotte' %}" class="fixed">バロテ</a></p>
      <p><a href="{% url 'bar:pasdechat' %}" class="fixed">パ・ド・シャ</a></p>   
      <p><a href="{% url 'bar:pirouette' %}" class="fixed">ピルエット</a></p>
      <p><a href="{% url 'bar:piquetour' %}" class="fixed">ピケトゥール</a></p>
      <p><a href="{% url 'bar:pialas' %}" class="fixed">ピルエット・ア・ラ・スゴンド</a></p>
      <p><a href="{% url 'bar:foutte' %}" class="fixed">フェッテ・アントゥールナン</a></p>
      <p><a href="{% url 'bar:failli' %}" class="fixed">ファイイ</a></p>
      <p><a href="{% url 'bar:fouette1' %}" class="fixed">フェッテ</a></p>
      <p><a href="{% url 'bar:brise' %}" class="fixed">ブリゼ</a></p>
      <p><a href="{% url 'bar:prom' %}" class="fixed">プロムナード</a></p>
      <p><a href="{% url 'bar:renverse' %}" class="fixed">ランヴェルセ</a></p>
      <p><a href="{% url 'bar:liasondepirouette' %}" class="fixed">リエゾン・ド・ピルエット</a></p>
</div>
</div>

